.app-header {
    background-color: rgba(144, 144, 144, 0.541);
    color: whitesmoke;

    > section {
        display: flex;
        align-items: center;

        h1.logo {
            flex-grow: 1;
            font-weight: 600;
        }

        .back {
            flex-grow: 1;
        }

        nav {
            a:not(:last-of-type) {
                padding: 38px;
            }
        }
    }
}
